@font-face {
    font-family: 'SF Thonburir';
    src: url('SFThonburi-Regular.woff2') format('woff2'),
        url('SFThonburi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Thonburib';
    src: url('SFThonburi-Bold.woff2') format('woff2'),
        url('SFThonburi-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Thonburi';
    src: url('SFThonburi-Semibold.woff2') format('woff2'),
        url('SFThonburi-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}